<div class="container">
  <h4 class="quadText" style="margin-top: 10px;">Current projects</h4>
  <div class="" style="padding: 10px;">
    <div class="inline">
      <a href="http://3.16.161.247"><div class="nsaStatic"></div></a>
      <!-- <img src="https://i.imgur.com/Hv3vuQ3.png" alt="no strings attached" class="nsaStatic appPic img-fluid img-thumbnail">
      <img src="https://i.imgur.com/DTvfoBH.gif" class="nsaHover appPic img-fluid img-thumbnail"> -->
    </div>
    <div class="wideScreen inline">
      <div class="row">
        <div class="col-12" style="padding: 0;">
          <a href="http://3.16.161.247"><h4><span class="quadText">No Strings Attached</span></h4></a>
          <p class="fillText"><span class="techs">Python | Django | MySQL | Bootstrap</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="padding: 0;">
          <button type="button" class="btn btn-light aboutFake showNsaBtn">App Info</button>
          <button type="button" class="btn btn-light aboutFake hideNsaBtn">Hide Info</button>
        </div>
      </div>
      <div class="nsaTextOverflow">
        <p class="appDesc nsaDesc">NSA provides a way for you to plan events or dates with friends or new people. Make sure to specify if the event is No Strings Attached or not!</p>
      </div> 
    </div>
    <hr>
    <div class="inline">
        <a href="http://18.191.109.112"><div class="tweezerStatic"></div></a>
      <!-- <a href="http://13.59.152.207"><img src="assets/images/tweezerthumb.png" alt="Tweezer" class="appPic img-fluid img-thumbnail"></a> -->
    </div>
    <div class="wideScreen inline">
      <div class="row">
        <div class="col-12" style="padding: 0;">
          <a href="http://18.191.109.112"><h4><span class="quadText">Tweezer</span></h4></a>
          <p class="fillText"><span class="techs">Java | JQuery | MySQL | Spring Boot</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="padding: 0;">
          <button type="button" class="btn btn-light aboutTweez showTweezBtn">App Info</button>
          <button type="button" class="btn btn-light aboutTweez hideTweezBtn">Hide Info</button>
        </div>
      </div>
      <div class="tweezTextOverflow">
        <p class="appDesc tweezDesc">A group project Twitter clone with features such as login/registration, updating your profile, posting Tweezes(Tweets) with or without photos/videos, Likes, Replies, Follows, Follow Suggestions, and more to be added.</p>
      </div>
    </div>
    <hr>
    <div class="inline">
      <a href="http://3.16.57.185"><img src="assets/images/fakinitthumb.png" alt="fakin' it" class="appPic img-fluid img-thumbnail"></a>
    </div>
    <div class="wideScreen inline">
      <div class="row">
        <div class="col-12" style="padding: 0;">
          <a href="http://3.16.57.185"><h4><span class="quadText">Fakin' It</span></h4></a>
          <p class="fillText"><span class="techs">JavaScript | jQuery | Node.js | Socket.io</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="padding: 0;">
          <button type="button" class="btn btn-light aboutFake showFakeBtn">App Info</button>
          <button type="button" class="btn btn-light aboutFake hideFakeBtn">Hide Info</button>
        </div>
      </div>
      <div class="fakeTextOverflow">
        <p class="appDesc fakeDesc">An asynchronous and competitive local 4-Player-only game where one player is randomly chosen each round as the Faker with the goal to blend in with the other players who have a prompt to complete.</p>
      </div>
    </div>
    <!-- <h3 class="quadTitle" style="margin-top: 170%;">Projects</h3> -->
  </div>
</div>