<div class="container" id="main">
  <div class="row topHem">
    <div class="col-6 quadrant quadTop topLeft" style="background-color: rgb(183, 214, 177); overflow-y: scroll;">
      <app-topleft></app-topleft>
    </div>
    <div class="col-6 quadrant quadTop topRight" style="background-color: rgb(220,232,228); overflow-y: scroll;">
      <app-topright></app-topright>
    </div>
  </div>
  <div class="row middle">
    <div class="prof-crop med-1">
      <img src="assets/images/main.jpg" alt="me" id="me">
    </div>
  </div>
  <div class="row bottomHem">
    <div class="col-6 quadrant botLeft" style="background-color: rgb(200, 221, 186);">
      <app-botleft></app-botleft>
    </div>
    <div class="col-6 quadrant botRight" style="background-color: rgb(200, 221, 186); overflow-y: scroll;">
      <app-botright></app-botright>
    </div>
  </div>
</div>