<ul class="nav justify-content-center" style="font-size: 1.2em;">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/']">Hi.</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#"></a>
  </li> -->
</ul>
<router-outlet></router-outlet>
<ul class="nav justify-content-center" style="font-size: 0.8em;">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Christian Bueno</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">2019</a>
    </li>
  </ul>