<div class="col">
  <h1 style="margin-top: 25px;"><span class="keyWord">Skills</span></h1>
  <div class="container techIcons" style="text-align: center;">
      <div class="row">
          <div class="col-12">
              <i class="icon devicon-javascript-plain"></i>
              <i class="icon devicon-java-plain-wordmark colored"></i>
              <i class="icon devicon-python-plain-wordmark"></i>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <i class="icon devicon-mongodb-plain-wordmark colored"></i>
              <i class="icon devicon-express-original-wordmark colored"></i>
              <i class="icon devicon-angularjs-plain colored"></i>
              <i class="icon devicon-nodejs-plain-wordmark colored"></i>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <i class="icon devicon-django-plain colored"></i>
              <i class="icon devicon-mysql-plain-wordmark colored"></i>
              <i class="icon devicon-bootstrap-plain-wordmark colored"></i>
              <i class="icon devicon-jquery-plain-wordmark colored"></i>
              <i class="icon devicon-photoshop-line colored mobileHide"></i>
              <i class="icon devicon-illustrator-plain colored mobileHide"></i>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
            <i class="icon devicon-photoshop-line colored mobileShow"></i>
            <i class="icon devicon-illustrator-plain colored mobileShow"></i>
        </div>
    </div>
  </div>
</div>