<div class="container">
  <div class="col">
      <h1 class="quadTitle">Contact</h1>
      <div class="contactButtons">
          <a href="mailto:christianjonbueno@me.com"><button class="btn btn-success fillText">Email me <i class="far fa-envelope"></i></button></a>
          <hr style="border-top: 1px dotted rgb(199, 199, 199);">
          <a href="https://www.linkedin.com/in/christianjonbueno/"><button class="btn btn-primary fillText">LinkedIn <i class="fab fa-linkedin"></i></button></a>
          <hr style="border-top: 1px dotted rgb(199, 199, 199);">
          <a href="https://github.com/CJBueno"><button class="btn btn-secondary fillText">GitHub <i class="fab fa-github"></i></button></a>
      </div>
  </div>
</div>